<div class="top-row navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">ToFu Photo Exhibition</a>
		<a href="https://x.com/TOFU_585" target="_blank">
			<img src="tpe_black.jpeg" id="img-logo" class="img" />
		</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<div class="btn-category">
		<a class="@HomeCssClass"  href="" @onclick="SelectHome">Home</a>
		<a class="@SGTCssClass" href="/category/1/supergt" @onclick="SelectSGT">SUPER GT</a>
		<a class="@SFCssClass" href="/category/2/superformula" @onclick="SelectSF">SUPER FORMULA</a>
		<a class="@StaiCssClass" href="/category/3/supertaikyu" @onclick="SelectStai">スーパー耐久</a>
		<a class="@OtherCssClass" href="/category/4/other" @onclick="SelectOther">Other Race</a>
	</div>
</div>

@code {
	private bool collapseNavMenu = true;
	private bool homeSelect = true;
	private bool sgtSelect = false;
	private bool sfSelect = false;
	private bool staiSelect = false;
	private bool otherSelect = false;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	private string HomeCssClass => homeSelect ? "select" : "unselect";
	private string SGTCssClass => sgtSelect ? "select" : "unselect";
	private string SFCssClass => sfSelect ? "select" : "unselect";
	private string StaiCssClass => staiSelect ? "select" : "unselect";
	private string OtherCssClass => otherSelect ? "select" : "unselect";

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	private void SelectHome()
	{
		homeSelect = true;
		sgtSelect = false;
		sfSelect = false;
		staiSelect = false;
		otherSelect = false;
	}

	private void SelectSGT()
	{
		homeSelect = false;
		sgtSelect = true;
		sfSelect = false;
		staiSelect = false;
		otherSelect = false;
	}

	private void SelectSF()
	{
		homeSelect = false;
		sgtSelect = false;
		sfSelect = true;
		staiSelect = false;
		otherSelect = false;
	}

	private void SelectStai()
	{
		homeSelect = false;
		sgtSelect = false;
		sfSelect = false;
		staiSelect = true;
		otherSelect = false;
	}

	private void SelectOther()
	{
		homeSelect = false;
		sgtSelect = false;
		sfSelect = false;
		staiSelect = false;
		otherSelect = true;
	}
}
