@page "/category/{id:int}/{name}"
@inject IRoundService RoundService;
@inject IManufacturerService ManufacturerService;
@inject ITeamService TeamService;
@inject ICarService CarService;
@inject IPhotoService PhotoService;
<div class="category-content">
	<div class="filter">
		<div class="box round">
			<p>Round</p>
			<Microsoft.AspNetCore.Components.Forms.InputSelect class="form-select" @bind-Value="@roundId" @bind-Value:after="RoundChanged">
				@if (RoundService.IsInitializeOrSearch)
				{
					<option value="0">Loading...</option>
				}
				else
				{
					@foreach (var round in RoundService.Rounds)
					{
						<option value="@round.Id">@round.Name</option>
					}
				}
			</Microsoft.AspNetCore.Components.Forms.InputSelect>
		</div>
		<div class="box manufacturer">
			<p>Manufacturer</p>
			<Microsoft.AspNetCore.Components.Forms.InputSelect class="form-select" @bind-Value="@manufacturerId" @bind-Value:after="ManufacturerChanged">
				@if (ManufacturerService.IsInitializeOrSearch)
				{
					<option value="0">Loading...</option>
				}
				else
				{
					@foreach (var manufacturer in ManufacturerService.Manufacturers)
					{
						<option value="@manufacturer.Id">@manufacturer.Name</option>
					}
				}
			</Microsoft.AspNetCore.Components.Forms.InputSelect>
		</div>
		<div class="box team">
			<p>Team</p>
			<Microsoft.AspNetCore.Components.Forms.InputSelect class="form-select" @bind-Value="@teamId" @bind-Value:after="TeamChanged">
				@if (TeamService.IsInitializeOrSearch)
				{
					<option value="0">Loading...</option>
				}
				else
				{
					@foreach (var team in TeamService.Teams)
					{
						<option value="@team.Id">@team.Name</option>
					}
				}
			</Microsoft.AspNetCore.Components.Forms.InputSelect>
		</div>
		<div class="box car">
			<p>Car</p>
			<Microsoft.AspNetCore.Components.Forms.InputSelect class="form-select" @bind-Value="@carId" @bind-Value:after="CarChanged">
				@if (CarService.IsInitializeOrSearch)
				{
					<option value="0">Loading...</option>
				}
				else
				{
					@foreach (var car in CarService.Cars)
					{
						<option value="@car.Id">@car.Name</option>
					}
				}
			</Microsoft.AspNetCore.Components.Forms.InputSelect>
		</div>
	</div>
	@if (PhotoService.IsInitializeOrSearch)
	{
		<Loader />
	}
	else
	{

		<div class="gallery">
			@foreach (var photo in PhotoService.Photos)
			{
				<div class="photo-content">
					<div class="photo-header">
						No.@photo.CarNo @photo.Car
					</div>
					<img src="@photo.FilePath" alt="@photo.Car" loading="lazy"/>
				</div>
			}
		</div>
	}
</div>

